body {
    margin: 0;
    padding: 0;
    background-color: #ffd37f;
    text-align: center;
}

h1,h2 {
    text-transform: capitalize;
    font-variant: small-caps;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 5em;
    margin-bottom: 0;
}
.subtitle {
    margin-bottom: 4em;
}

th {
    padding-top: 1em;
}

td {
    vertical-align: top;
    padding: .5em;
}

header {
    background-color: #e0a446;
    margin-bottom: 3em;
    border-bottom: .2em solid black;
}

footer {
    margin-top: 2em;
    padding: 0;
    padding: .1em;
    text-align: center;
    background-color: #e0a446;
}

#table-opening-hours td {
    padding: .2em;
}

#html_menu th {
    text-transform: capitalize;
    font-variant: small-caps;
    font-size: 1.7em;
}

.title {
    margin: 0 0 2em 0;
}

.menu {
    padding: 0 1em 0 1em;
}

.hint {
    display: inline-block;
    background-color: #ffd37f;
    border: .1em solid black;
    font-weight: bold;
    font-size: 1.5em;
    padding: 1em;
    margin: 2em;
    border-radius: 1em;
}

.contact p {
    margin: .4em;
}

#table-opening-hours td {
    padding: .1em .3em .1em;
}

.table-center {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.dish-description {
    max-width: 40em;
}

.dish-title {
    font-weight: bold;
    text-transform: capitalize;
    font-variant: small-caps;
}

.special_ingedients {
    margin-top: 4em;
    font-size: .75em;
}
.special_ingedients td {
    padding: .2em;
}
.special_ingedients td:nth-child(2n) {
    padding: .2em .7em .2em .2em;
}




.greek-meander {
    background-image: url(greek_meander.svg);
    background-repeat: repeat-x;
    background-size: 3em 3em;
    height: 3em;
}
